<div id="home">
	<div>
		<p>
			Welcome to the Complainatron!!
		</p>
		<p>
			This site is under heavy construction. Check back soon for updates.
		</p>
	</div>
	<div class="stats">
		<div>
			To date, <%= h(@complaint_count) %> complaint<%= @complaint_count != 1 ? "s" : "" %> have been submitted
		</div>
		<div>
			<span class="label">Complaint Categories</span>
			<ul>
			<% for category in @categories %>
				<li><%= h(category[:category]) %></li>
			<% end %>
			</ul>
		</div>
		<div>
			<span class="label">Recent Complaints</span>
			<ul>
				<% for c in @complaints %>
					<li><%= h(c.complaint) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>