<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Complainatron</title>
</head>
<body>
	<div id="header">
  		
  	</div>
  	<div id="body">
    	<%= yield %>
  	</div>
  	<div id="footer">
    	<div>
      		Subscribe to the Complainatron rss feed 
      	
    	</div>
    	Site developed by <%= link_to("MPC", "/") %> using <%= link_to("Sinatra", "http://sinatra.rubyforge.org") %> (an alternative Ruby web framework). (2008)
  	</div>
</body>
</html>

